@font-face {
	font-family: swaywm-monospace;
	src: url("../fonts/DejaVuSansMono/DejaVuSansMono.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: swaywm-monospace;
	src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf") format("truetype");
	font-weight: bold;
}

:root {
	--bkg_color: #000000;
	--box_bkg_color: #000000;
	--box_bkg_color_H: #4c4c4c;
	--border_color: #6a3cbf;
	--border_color_H: #4c4c4c;
	--text_color: #dedede;
	--link_color: #3366CC;
	--accent-color: #6a3cbf;

	--focused-border: #6a3cbf;
	--focused-background: #6a3cbf;
	--focused-text: #dedede;
	--focused-indicator: #9D66FF;
	--focused-child_border: #6a3cbf;

	--focused_inactive-border: #333333;
	--focused_inactive-background: #0f1011;
	--focused_inactive-text: #dedede;
	--focused_inactive-indicator: #484e50;
	--focused_inactive-child_border: #222222;

	--unfocused-border: #333333;
	--unfocused-background: #222222;
	--unfocused-text: #9e9e9e;
	--unfocused-indicator: #292d2e;
	--unfocused-child_border: #222222;
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

html {
	background-color: var(--bkg_color);
	color: var(--text_color);
	font-family: 'swaywm-monospace', monospace, sans-serif;
	font-weight: bold;
}

body {
	/* overflow: hidden; */ /* varför i hela helvete lade jag till denna? */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--link_color);
}

img{vertical-align:bottom}

.sway-window {
	border: 1px solid var(--unfocused-border);
	background-color: var(--box_bkg_color);
	margin: 10px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.sway-window:hover {
	border: 1px solid var(--focused-border);
}

.sway-window-title {
	font-weight: normal;
	padding-left: 4px;
	background-color: var(--unfocused-background);
	color: var(--unfocused-text);
	font-size: auto;
	height: 20px;
	line-height: 20px;
}
.sway-window:hover .sway-window-title {
	background-color: var(--focused-border);
	color: var(--focused-text);
}

/* is this the best solution? */
.sway-window-title h5:last-child { display: none; }
.sway-window-title:hover h5:last-child { display: block; }
.sway-window-title:hover h5:first-child { display: none; }

.sway-window-content {
	padding: 10px;
}

#washinopurojekuto {
	border-bottom: 1px solid var(--text_color);
}

.project-item {
	padding: 10px;
	/* margin-bottom: 10px; */
	width: 100%;
	box-sizing: border-box;
}

.project-divider {
	height: 1px;
	background-color: var(--unfocused-border);
	margin: 4px 0 4px 0;
}

.project-name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-name a {
	margin-left: 4px;
}

.project-desc p {
	font-weight: normal;
	margin: 16px 0 0 0;
}

/* Vänstra spalten */
aside {
	max-width: 300px;
}

#aside-content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.spacer {
	display: flex;
	flex-grow: 1;
}

#bio img {
	max-width: 100px;
}
#bio p {
	margin-top: 5px;
	font-weight: normal;
}

#name {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
#name h1{
	font-size: 30pt;
	margin: 0 20px 0 20px;
}


#contact {
	display: flex;
	flex-direction: column;
}

.contact-item:hover {
	background-color: var(--focused-background);
}

#discord img {
	background-color: #5865F2;
}

.contact-item a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: inherit;
	font-weight: normal;
}

.contact-item img{
	padding: 7px 4px 7px 4px;
	max-width: 20px;
	margin-right: 10px;
}
/* Till hit */

@media only screen and (max-width: 716px) {
	body {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	aside {
		max-width: none;
	}
}