:root {
	--bkg_color: #121212;
	--box_bkg_color: #171717;
	--box_bkg_color_H: #4c4c4c;
	--border_color: #222;
	--border_color_H: #4c4c4c;
	--text_color: #FFFFFFDE;
	--light_text_color: #c1c8cc;
	--link_color: #3366CC;
}

.center-screen {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}

html {
	background-color: var(--bkg_color);
	color: var(--text_color);
	font-family: 'Noto Sans', sans-serif;
	font-weight: 500;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--link_color);
}

img{vertical-align:bottom}

/* Projekt */
main {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	/* justify-content: space-evenly; */
	background-color: var(--box_bkg_color);
	border: 2px solid var(--border_color);
	padding: 20px;
	margin: 10px;
}

.project-item {
	background-color: var(--bkg_color);
	border: 1px solid var(--border_color);
	margin: 10px;
	padding: 10px;
}

.project-name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-name a {
	margin-left: 4px;
}

.project-desc p {
	font-weight: 400;
}
/* Tills hit */

/* Vänstra spalten */
aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--box_bkg_color);
	border: var(--border_color) 2px solid;
	padding: 10px;
	padding-bottom: 30px;
	margin: 10px;
	max-width: 300px;
}


#bio img {
	max-width: 100px;
}
#bio p {
	margin-top: 5px;
}

#name {
	display: flex;
	/* justify-content: space-between; */
	align-items: center;
}
#name h1{
	font-size: 40pt;
	margin: 0 20px 0 20px;
}


#contact {
	display: flex;
	flex-direction: column;
}

.contact-item:hover {
	background-color: var(--box_bkg_color_H);
}

#discord img {
	background-color: #5865F2;
}

.contact-item a {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.contact-item img{
	padding: 7px 4px 7px 4px;
	max-width: 20px;
	margin-right: 10px;
}
/* Till hit */

@media only screen and (max-width: 716px) {
	body {
		flex-direction: column;
		align-items: center;
	}

	aside {
		max-width: none;
	}
}